.navbar__link--active {
    color: #071e33 !important;
}

.menu__link--active {
    color: #071e33 !important;
}

.breadcrumbs__link {
    color: #071e33 !important;
}

a {
    color: #071e33 !important;
}
