.navbar__link--active {
    color: #043d73 !important;
}

.menu__link--active {
    color: #043d73 !important;
}

.breadcrumbs__link {
    color: #043d73 !important;
}

a {
    color: #043d73 !important;
}
